<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Fira+Code&family=Noto+Serif+SC:wght@400;500;700;900&display=swap" type="text/css" />
  <style>
    * { box-sizing: border-box }
    body { padding:45px 10px;margin:0;background:#fafafa;margin-right: calc(-1 * (100vw - 100%));overflow-x: hidden }
    .card { margin:0 auto;max-width:700px;position:relative;overflow:hidden;background:var(--at-bg-main);border-radius:5px;padding:20px;box-shadow: 10px 10px 5px 0 rgba(0,0,0,.02), 10px 10px 15px 0 rgba(0,0,0,.03) }
    .card:not(:last-child) { margin-bottom:30px }
    .card.billboard { text-align: center }
    .title > a { display:block;text-decoration:none;color:#0083ff;font-size:35px;margin-top:0;margin-bottom:10px }
    .title > a:hover { margin-left:0 }
    .title > a > span { opacity:0 }
    .title > a:hover>span { opacity:1 }
    .desc { font-size:12px;color:#757e91 }
    .social { margin: 20px 20px }
    .social > a { display:inline;text-decoration:none;color:#0083ff;font-size:16px }
    .social > a:not(:last-child) { margin-right:2px }
    @media only screen and (max-width: 768px) {
      body { padding: 0;background: #fafafa }
      .card.billboard { padding-top: 20px;margin-top: 20px; }
      .card { width: 100vw;padding: 0;border-radius: 0 }
      .to-top { right:0 !important;bottom:0 !important;margin-right: 2vw;margin-bottom: 2vh }
      .to-night { left:0 !important;bottom:0 !important;margin-left: 2vw;margin-bottom: 2vh }
    }
    .to-top { right: 250px;bottom: 50px;display: block;cursor: pointer;text-align: center;width: 60px;height: 37px;line-height: 37px;font-size: 13px;color: #757e91;background: #fff;opacity: 0.8;border-radius: 5px;border: 1px solid #eceff2;position: fixed }
    .to-night { left: 250px;bottom: 50px;display: block;cursor: pointer;text-align: center;width: 60px;height: 37px;line-height: 37px;font-size: 13px;color: #757e91;background: #fff;opacity: 0.8;border-radius: 5px;border: 1px solid #eceff2;position: fixed }
    [data-user-color-scheme="dark"] body, [data-theme="dark"] body { background:#101213 }
  </style>
  <script type="text/javascript">
  // From https://github.com/ChrAlpha/hexo-theme-cards/blob/master/dist/js/darkmode.js
  (() => {
    const e = document.documentElement,
    t = e => {
      try {
        return localStorage.getItem(e)
      } catch (e) {
        return null
      }
    },
    r = () => {
      const t = getComputedStyle(e).getPropertyValue("--color-mode");
      return t.length ? t.replace(/["'\s]/g, "") : "dark" === t ? "dark" : "light"
    },
    l = () => {
      e.removeAttribute("data-user-color-scheme"), (e => {
        try {
          localStorage.removeItem(e)
        } catch (e) {}
      })("user-color-scheme")
    },
    o = {
      dark: !0,
      light: !0
    },
    d = d => {
      const c = d || t("user-color-scheme");
      c === r() ? l() : o[c] ? e.setAttribute("data-user-color-scheme", c) : l()
    },
    c = {
      dark: "light",
      light: "dark"
    },
    m = () => {
      var e = t("user-color-scheme");
      if (o[e]) e = c[e];
      else {
        if (null !== e) return;
        e = c[r()]
      }
      return ((e, t) => {
        try {
          localStorage.setItem(e, t)
        } catch (e) {}
      })("user-color-scheme", e), e
    };
    d(), window.onload = (() => {
      const e = document.querySelector('.to-night');
      e.addEventListener("click", () => {
        d(m())
      })
    })
  })()
  </script>
</head>
<body>
  <div class="card billboard artalk-fade-in">
    <div class="title"><a href="#"><span>『</span>Artalk ♂<span>』</span></a></div>
    <div class="desc">一款 <s>简洁</s> 有趣的自托管评论系统</div>
    <div class="social">
      <a href="https://www.npmjs.com/package/artalk" target="_blank"><img src="https://img.shields.io/npm/v/artalk.svg?style=flat-square"></a>
      <a href="https://www.npmjs.com/package/artalk" target="_blank"><img src="https://img.shields.io/npm/dt/artalk.svg?style=flat-square"></a>
      <a href="https://github.com/monsterxcn/Artalk/commits/master" target="_blank"><img src="https://img.shields.io/github/last-commit/monsterxcn/Artalk?style=flat-square"></a>
      <a href="https://github.com/monsterxcn/Artalk/blob/master/LICENSE" target="_blank"><img src="https://img.shields.io/github/license/monsterxcn/Artalk.svg?style=flat-square"></a>
      <a href="https://github.com/qwqcode/Artalk#%E6%8D%90%E5%8A%A9" target="_blank"><img src="https://img.shields.io/badge/%24-donate-%23ff69b4.svg?style=flat-square"></a>
      <a href="https://github.com/monsterxcn/Artalk" target="_blank"><img src="https://img.shields.io/github/stars/monsterxcn/Artalk?style=flat-square"></a>
    </div>
  </div>
  <div class="card artalk-fade-in">
    <div id="comments"></div>
  </div>
  <div class="to-top artalk-fade-in" style="display: none;">Top</div>
  <div class="to-night artalk-fade-in">Blink</div>
  <script>
    var artalk = new Artalk({
      el: '#comments',
      placeholder: '说点什么 (づ￣ 3￣)づ',
      defaultAvatar: 'mp',
      pageKey: 'https://artalk.vercel.app/',
      serverUrl: 'https://lab.monsterx.cn/ArtalkServer',
      readMore: {
        pageSize: 15,
        autoLoad: true
      }
    })
  </script>
  <script>
    (function () {
      const toTopElem = document.querySelector('.to-top')
      toTopElem.addEventListener('click', () => {
        window.scrollTo(0, 0)
      })

      checkShowToTop()
      document.addEventListener('scroll', () => {
        checkShowToTop()
      })

      function checkShowToTop() {
        const scrollTop = window.scrollY
        const whereShow = window.screen.height
        const isNeedShow = (scrollTop > 0) && (scrollTop > whereShow)

        if (isNeedShow) {
          toTopElem.style.display = ''
        } else {
          toTopElem.style.display = 'none'
        }
      }
    })()
  </script>
</body>
</html>
